%h1 Hello world
%h2 #{Location.count} locations registered
%ul
  %li
    = link_to("Call log", 'call_log')    
  %li
    = link_to("Speak", 'speak')
  %hr
  %li
    = link_to("Log out", 'sign_out')
    
