body {
    padding: 0;
    margin: 0;
}
html, body {
    height: 100%;
    width: 100vw;
}
#mapid {
	width: 100%;
	height: 100%;
}
#control-pane {
  position: fixed;
  right: 0px;
  top: 0px;
  z-index: 1000;
  background-color: #fff;
}
